@import "tailwindcss";

@theme {
  --font-tomorrow: var(--font-tomorrow);
  --font-monda: var(--font-monda);
  --breakpoint-md: 700px;
  --breakpoint-xl: 1312px;
  --breakpoint-2xl: 1780px;
}

:root {
  --section-padding: 32px;
}

@media (min-width: 1312px) {
  :root {
    --section-padding: 80px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #000000;
  overflow-x: hidden;
}
